<div id="wrapper">
    <app-sidebar [activeComp]="'rental'"></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <app-nav></app-nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Rentals</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Rental Info</p>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Library Management System</span></div>
            </div>
        </footer>
    </div>
</div>