<div id="wrapper">
    <app-sidebar [activeComp]="'rental'"></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <app-nav></app-nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Rentals</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Rental Info</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-sm" (click)="getRental()">Refresh</a>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                    <label>
                                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <form [formGroup]="newRentalForm" (ngSubmit)="addRental()">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Fine</th>
                                            <th>Limit</th>
                                            <th>Price</th>
            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor = "let item of allRental; let i=index">
                                            <td>{{item['p_id']}}</td>
                                            <td *ngIf="i != editIndex">{{item['fine']}}</td>
                                            <td *ngIf="i != editIndex">{{item['limit']}}</td>
                                            <td *ngIf="i != editIndex">{{item['price']}}</td>
                                            <td *ngIf="i == editIndex"><input formControlName="editfine" type="text"></td>
                                            <td *ngIf="i == editIndex"><input formControlName="editlimit" type="text"></td>
                                            <td *ngIf="i == editIndex"><input formControlName="editprice" type="text"></td>
                                            <td>
                                                <button *ngIf="i != editIndex" class="btn btn-danger btn-sm" (click)="editTrigger(i)">Edit</button>
                                                <div *ngIf="i == editIndex">
                                                    <p class="hover-cursor" (click)="saveRental(item['p_id'])">Save</p>
                                                    <p class="hover-cursor" (click)="deleteRental(item['p_id'])">Delete</p>
                                                </div>
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ADD_NEW</td>
                                            <td><input formControlName="finepday" type="text" placeholder="Ex; 2$/day"></td>
                                            <td><input formControlName="limitpday" type="text" placeholder="Ex; 2 days"></td>
                                            <td><input formControlName="pricepday" type="text" placeholder="Ex; 10$/day"></td>
                                            <td> <button class="btn btn-success btn-sm" type="submit">Enter</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>ID</strong></td>
                                            <td><strong>Fine</strong></td>
                                            <td><strong>Limit</strong></td>
                                            <td><strong>Price</strong></td>
                                            
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                    Showing 1 to {{allRental.length}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Library Management System</span></div>
            </div>
        </footer>
    </div>
</div>
